.custom-btn {
  width: 130px;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.kbtn {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.kbtn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.kbtn:before,
.kbtn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.kbtn:before {
  height: 0%;
  width: 2px;
}
.kbtn:after {
  width: 0%;
  height: 2px;
}
.kbtn:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.kbtn:hover:before {
  height: 100%;
}
.kbtn:hover:after {
  width: 100%;
}
.kbtn span:before,
.kbtn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.kbtn span:before {
  width: 2px;
  height: 0%;
}
.kbtn span:after {
  height: 2px;
  width: 0%;
}
.kbtn span:hover:before {
  height: 100%;
}
.kbtn span:hover:after {
  width: 100%;
}

#qr-code-dialog {
  margin: 20% auto;
  border-radius: 1.2rem;
  width: min-content;
  background-color: #fff;
  padding: 1.2rem 1.2rem 1.5rem;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  user-select: none;
}

.qr-code {
  width: 18rem;
  height: 18rem;
  background-repeat: no-repeat;
  background-image: url("/img/qrcode/qr-code-bg.svg");
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
